# Supabase 설정
SUPABASE_URL=https://naugkuorszqdgdbnpmea.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hdWdrdW9yc3pxZGdkYm5wbWVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU2MjYzMDEsImV4cCI6MjA3MTIwMjMwMX0.C_6iSpzGrO4uCxZx1-I8xFCCZCWBSDuiTYoqmxlHEx8

# 데이터베이스 연결
DATABASE_URL="postgresql://postgres:unwHana4620!@db.naugkuorszqdgdbnpmea.supabase.co:5432/postgres"

# NextAuth 설정
NEXTAUTH_SECRET=your-secret-key-here
